<%- include("template/cabecera", {tituloPagina:'Error 404'})%>

    <h1>Esta es la nueva Página 404 con EJS...</h1>
    <h2><%= titulo%></h2>
    <h2><%= descripcion%></h2>

<%- include("template/footer")%>