<%- include("template/cabecera", {tituloPagina: 'Inicio'})%>
<body>
    <h1 class="text-primary">Este es mi primer sitio web Index Fundamentos NodeJS...</h1>
    <h2><%= titulo %></h2>

<%- include("template/footer")%>